@import "../commons/palette.css";
@import "../commons/tooltip.css";

.treemap-breadcrumb {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.treemap-breadcrumb > :last-child {
  font-weight: bold;
}

.treemap-item {
  padding: 0.5rem;
  font-size: 0.875rem;
  color: var(--gv-white);
  box-sizing: border-box;
  width: max-content;
  max-width: calc(100% - 2px);
  overflow: hidden;
}

.treemap-item * {
  overflow: hidden;
}

.treemap-tooltip-block:not(:first-child) {
  padding-top: 0.5rem;
}

.treemap-tooltip-block:not(:last-child) {
  padding-bottom: 0.5rem;
}

.treemap-tooltip-block + .treemap-tooltip-block {
  border-top: 1px solid var(--gv-grey);
}

.treemap-tooltip-id {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
}

.treemap-tooltip-values {
  font-size: 0.875rem;
}
