.gv-container {
  display: grid;
}

.gv-legend {
  display: flex;
  grid-area: 1 / -1;
  align-self: start;
  justify-self: end;
  font-size: 0.875rem;
  flex-wrap: wrap;
  margin: -0.25em -1em;
}

.gantt-legend-item {
  display: flex;
  align-items: center;
  margin: 0.25em 1em;
  max-width: 25vw;
}

.gantt-legend-item > *:not(:first-child) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gantt-legend-item > *:first-child {
  margin-right: 0.5em;
  flex-shrink: 0;
}

.gantt-legend-item i {
  width: 1em;
  height: 1em;
}

.gantt-tooltip-id {
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid var(--gv-grey);
}

.gantt-tooltip-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  color: var(--gv-grey);
  font-size: 0.75rem;
  font-weight: bold;
}

.gantt-tooltip-values > *:not(:first-child) {
  margin-left: 1em;
  font-weight: normal;
}
